{% load static %}
<link rel="stylesheet" href="{% static 'to_do_list/styles.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>
 <header>
   <h1>To do list</h1> 
 </header>
 <main>
  <ul class="to-do-list__list">
    {% for task in to_do_list_sorted_by_deadline %}
      <li class="task">
        <h2 class="task__heading">
          {{ task.name }}
        </h2>
        <dl>
          <div class="task__details">
            <dt class="task__details-heading">Description</dt>
            <dd class="task__details-body">{{ task.description }}</dd>
          </div>
          <div class="task__details">
            <dt class="task__details-heading">Deadline</dt>
            <dd class="task__details-body">{{ task.deadline }}</dd>
          </div>
          <div class="task__details">
            <dt class="task__details-heading">Completed</dt>
            <dd class="task__details-body">{% if task.completed %}👍🏼{% else %}👎🏼{% endif %}</dd>
          </div>
        </dl>
        <a href="{% url 'task_detail' task.id %}">Edit task</a>
      </li>
    {% endfor %}
  </ul>
 </main>
</body>
</html>