{% load static %}
<link rel="stylesheet" href="{% static 'to_do_list/styles.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>
 <header>
   <h1>To do list</h1> 
 </header>
 <main>
  <form action="{% url 'index' %}" method="post" name="add-task">
    {% csrf_token %}
    <h2>Add task</h2>
    <input type="hidden" name="form-id" value="add-task">
    <label>
      Task name
      <input type="text" name="name">
    </label>
    <label>
      Description
      <input type="text" name="description">
    </label>
    <label>
      Deadline
      <input type="date" name="deadline">
    </label>
    <button>Submit</button>
  </form>
  <ul class="to-do-list__list">
    {% for task in to_do_list_sorted_by_deadline %}
      <li class="task">
        <h2 class="task__heading">
          {{ task.name }}
        </h2>
        <dl>
          <div class="task__details">
            <dt class="task__details-heading">Description</dt>
            <dd class="task__details-body">{{ task.description }}</dd>
          </div>
          <div class="task__details">
            <dt class="task__details-heading">Deadline</dt>
            {% if task.deadline %}
              <dd class="task__details-body">{{ task.deadline }}</dd>
            {% else %}
              <dd class="task__details-body">No deadline</dd>
            {% endif %}
          </div>
          <div class="task__details">
            <dt class="task__details-heading">Completed</dt>
            <dd class="task__details-body">{% if task.completed %}👍🏼{% else %}👎🏼{% endif %}</dd>
          </div>
          {% if task.deadline %}
            <div class="task__details">
              <dt class="task__details-heading">Overdue?</dt>
              <dd class="task__details-body">{{ task.is_overdue }}</dd>
            </div>
          {% endif %}
        </dl>
        <a href="{% url 'edit_task' task.id %}">Edit task</a>
        <form action="{% url 'index' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="form-id" value="delete-task">
          <input type="hidden" name="task-id" value="{{ task.id }}">
          <button type="submit">
            Delete
          </button>
        </form>
      </li>
    {% endfor %}
  </ul>
 </main>
</body>
</html>