{% load static %}
<link rel="stylesheet" href="{% static 'to_do_list/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>
 <header>
   <h1>{{ task }}</h1> 
 </header>
 <main>
  {% if task.description %}
    <div class="task__details">
      <h2 class="task__details-heading">Description</h2>
      <p class="task__details-body">{{ task.description }}</p>
    </div>
  {% endif %}
  {% if task.deadline %}
    <div class="task__details">
      <h2 class="task__details-heading">Deadline</h2>
      <p class="task__details-body">{{ task.deadline }}</p>
    </div>
  {% endif %}
  <div class="task__details">
    <h2 class="task__details-heading">Completed</h2>
    <p class="task__details-body">{% if task.completed %}👍🏼{% else %}👎🏼{% endif %}</p>
  </div>
  <a href="{% url 'index' %}">Return to list</a>
 </main>
</body>
</html>